<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>👏</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
  <style>
    body {
      margin: 0px;
      padding: 4px;
    }
    .like {
      cursor: pointer;
      font-family: 'Roboto Slab', serif;
      border-radius: 50%;
      padding: 15px;
      height: 40px;
      width: 40px;
      text-align: center;
      box-sizing: content-box;
      background-color: #fff;
      box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
      color: #333;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    span {
      display: block;
      font-size: 30px;
      line-height: 20px;
    }
    .number {
      position: relative;
      z-index: 2;
    }
    .like:hover {
      background: #f0f0f0;
    }
    .like:hover .number {
      display: none;
    }
    .like:hover .hand {
      font-size: 37px;
      line-height: 35px;
      margin-left: -3px;
    }
    .like:active .hand {
      font-size: 37px;
      line-height: 39px;
      margin-left: -3px;
    }
  </style>
  <script>
    let likeNumber = <%= likes %>
    const like = () => {
      likeNumber++
      const url = location.search.replace("?url=", "")
      const xhr = new XMLHttpRequest()
      const postUrl = '<%= APP_URL %>/like/?url=' + url
      xhr.open("POST", postUrl, true)
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send()
      document.querySelector(".number").innerHTML = likeNumber
    }
  </script>
</head>
<body>
  <div class="like" onclick="like()">
    <span class="number"><%= likes %></span>
    <span class="hand">👏</span>
  </div>
</body>
</html>